object-fit: contain;
object-fit: cover;
object-fit: fill;
object-fit: none;

ul li::marker {
    color: #333333;
  }

ul, ol {
    list-style-type: disc; /* Define o marcador como bolinha preenchida */
}

  text-indent: -0.5em