body {
    background-color: black;
    background-image: url("https://s4.anilist.co/file/anilistcdn/user/banner/b520743-0YP21XXT2ztM.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

h1.y#x {
    color: rgba(255, 130, 0, 1);
    width: 120px;
    margin: auto;
    background-color: #fff0
}